absl-py>=2.0.0
anyio>=4.4.0
appnope>=0.1.4
argon2-cffi>=23.1.0
argon2-cffi-bindings>=21.2.0
arrow>=1.3.0
asttokens>=2.4.1
astunparse>=1.6.3
async-lru>=2.0.4
attrs>=23.2.0
Babel>=2.15.0
beautifulsoup4>=4.12.2
bleach>=6.1.0
cachetools>=5.3.2
certifi>=2023.11.17
cffi>=1.16.0
charset-normalizer>=3.3.2
click>=8.1.7
cloudpickle>=3.0.0
comm>=0.2.2
contourpy
cssselect>=1.2.0
cycler
debugpy>=1.8.2
decorator>=5.1.1
defusedxml>=0.7.1
dm-tree>=0.1.8
executing>=2.0.1
Farama-Notifications>=0.0.4
fastjsonschema>=2.20.0
feedfinder2>=0.0.4
feedparser>=6.0.11
filelock>=3.15.4
finance-datareader>=0.9.66
flatbuffers>=23.5.26
fonttools>=4.25.0
fqdn>=1.5.1
frozendict>=2.4.4
fsspec>=2024.6.1
gast>=0.5.4
gin-config>=0.5.0
google-auth>=2.26.2
google-auth-oauthlib>=1.2.0
google-pasta>=0.2.0
grpcio>=1.60.0
gym>=0.23.0
gym-anytrading>=2.0.0
gym-notices>=0.0.8
gymnasium>=0.29.1
h11>=0.14.0
h5py>=3.10.0
html5lib>=1.1
httpcore>=1.0.5
httpx>=0.27.0
idna>=3.6
ipykernel>=6.29.5
ipython>=8.26.0
ipywidgets>=8.1.3
isoduration>=20.11.0
jedi>=0.19.1
jieba3k>=0.35.1
Jinja2>=3.1.4
joblib>=1.4.2
json5>=0.9.25
jsonpointer>=3.0.0
jsonschema>=4.23.0
jsonschema-specifications>=2023.12.1
jupyter>=1.0.0
jupyter-console>=6.6.3
jupyter-events>=0.10.0
jupyter-lsp>=2.2.5
jupyter_client>=8.6.2
jupyter_core>=5.7.2
jupyter_server>=2.14.2
jupyter_server_terminals>=0.5.3
jupyterlab>=4.2.3
jupyterlab_pygments>=0.3.0
jupyterlab_server>=2.27.3
jupyterlab_widgets>=3.0.11
keras>=2.15.0
kiwisolver
libclang>=16.0.6
lxml>=5.1.0
Markdown>=3.5.2
MarkupSafe>=2.1.3
matplotlib
matplotlib-inline>=0.1.7
mistune>=3.0.2
ml-dtypes>=0.2.0
mpmath>=1.3.0
multitasking>=0.0.11
munkres>=1.1.4
nbclient>=0.10.0
nbconvert>=7.16.4
nbformat>=5.10.4
nest-asyncio>=1.6.0
networkx>=3.3
newspaper3k>=0.2.8
nltk>=3.8.1
notebook>=7.2.1
notebook_shim>=0.2.4
numpy
oauthlib>=3.2.2
opt-einsum>=3.3.0
overrides>=7.7.0
packaging
pandas>=2.1.4
pandocfilters>=1.5.1
parso>=0.8.4
peewee>=3.17.6
pexpect>=4.9.0
Pillow
platformdirs>=4.2.2
plotly>=5.18.0
prometheus_client>=0.20.0
prompt_toolkit>=3.0.47
protobuf>=4.23.4
psutil>=6.0.0
ptyprocess>=0.7.0
pure-eval>=0.2.2
pyasn1>=0.5.1
pyasn1-modules>=0.3.0
pycparser>=2.22
pygame>=2.1.3
Pygments>=2.18.0
pyparsing
pyproject-toml>=0.0.10
python-dateutil
python-json-logger>=2.0.7
pytz>=2023.3.post1
PyYAML>=6.0.1
pyzmq>=26.0.3
qtconsole>=5.5.2
QtPy>=2.4.1
referencing>=0.35.1
regex>=2024.5.15
requests>=2.31.0
requests-file>=1.5.1
requests-oauthlib>=1.3.1
rfc3339-validator>=0.1.4
rfc3986-validator>=0.1.1
rpds-py>=0.19.0
rsa>=4.9
scikit-learn>=1.5.1
scipy>=1.14.0
Send2Trash>=1.8.3
sgmllib3k>=1.0.0
Shimmy>=2.0.0
six
sniffio>=1.3.1
soupsieve>=2.5
stable_baselines3>=2.3.2
stack-data>=0.6.3
sympy>=1.13.0
ta>=0.11.0
tenacity>=8.2.3
tensorboard>=2.15.1
tensorboard-data-server>=0.7.2
tensorflow-estimator>=2.15.0
tensorflow-io-gcs-filesystem>=0.34.0
tensorflow-macos>=2.15.0
tensorflow-metal>=1.1.0
tensorflow-probability>=0.23.0
termcolor>=2.4.0
terminado>=0.18.1
tf-agents>=0.19.0
threadpoolctl>=3.5.0
tinycss2>=1.3.0
tinysegmenter>=0.3
tldextract>=5.1.2
toml>=0.10.2
torch>=2.3.1
tornado
tqdm
traitlets>=5.14.3
types-python-dateutil>=2.9.0.20240316
typing_extensions>=4.5.0
tzdata>=2023.4
uri-template>=1.3.0
urllib3>=2.1.0
wcwidth>=0.2.13
webcolors>=24.6.0
webencodings>=0.5.1
websocket-client>=1.8.0
Werkzeug>=3.0.1
widgetsnbextension>=4.0.11
wrapt>=1.14.1
yfinance>=0.2.41
